#flipbook {
  width: 800px;
  height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Tambahkan ini */
}

.page {
  background-color: #ffffff;
  padding: 40px;
  box-sizing: border-box;
  color: #333;
  text-align: center;
  width: 100%;
  height: 100%;
}
